.Notifications {
  border: 2px dashed #df344b;
  padding: 4px;
}

.Notifications ul li[data-priority="default"] {
  color: blue;
}

.Notifications ul li[data-priority="urgent"] {
  color: red;
}

.Notifications ul li:last-child {
  color: red;
}
