.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #df344b;
  border-bottom: 4px solid #df344b;
}

.App-body {
  color: #000000;
  font-weight: bold;
  min-height: 60vmin;
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-left: 20px;
}

.form, .App-body p {
  display: flex;
  flex-direction: left;
}

.App-footer {
  color: #000000;
  font-style: italic;
  border-top: 4px solid #df344b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vmin;
}
